.image-6 {
  width: 1942px;
  height: 1088px;
  position: relative;
  display: none;
  max-width: 100%;
}
.about-us,
.layer-1-icon {
  position: relative;
  flex-shrink: 0;
}
.layer-1-icon {
  height: 15px;
  width: 123px;
  left: 0;
  overflow: hidden;
  /* margin-left: -50px; */
}
.about-us {
  margin-bottom: -2px;
  text-decoration: none;
  width: 43px;
  letter-spacing: -0.3px;
  line-height: 28px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 43px;
}
.main-nav-item-container {
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.main-nav-item-child {
  width: 43px;
  height: 2px;
  position: relative;
  background-color: var(--primary-white-ffffff);
  opacity: 0;
  flex-shrink: 0;
}
.main-nav-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-us1 {
  margin-bottom: -2px;
  text-decoration: none;
  position: relative;
  letter-spacing: -0.3px;
  line-height: 28px;
  color: inherit;
  display: inline-block;
  min-width: 63px;
  flex-shrink: 0;
}
.about-us-wrapper {
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.main-nav-item-item {
  align-self: stretch;
  height: 2px;
  position: relative;
  background-color: var(--primary-white-ffffff);
  flex-shrink: 0;
}
.main-nav-item1 {
  width: 63px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-us2 {
  margin-bottom: -2px;
  text-decoration: none;
  width: 64px;
  position: relative;
  letter-spacing: -0.3px;
  line-height: 28px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 64px;
  flex-shrink: 0;
  white-space: nowrap;
}
.about-us-container {
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.main-nav-item-inner {
  align-self: stretch;
  height: 2px;
  position: relative;
  background-color: var(--primary-white-ffffff);
  opacity: 0;
  flex-shrink: 0;
}
.main-nav-item2 {
  width: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-us3 {
  height: 28px;
  position: relative;
  letter-spacing: -0.3px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.rectangle-div {
  width: 64px;
  height: 2px;
  position: relative;
  background-color: var(--primary-white-ffffff);
  opacity: 0;
  margin-top: -4px;
}
.main-nav-item3,
.navigation-item {
  align-self: stretch;
  align-items: flex-start;
}
.main-nav-item3 {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
}
.navigation-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  left: 20px;
}
.navigation-container {
  width: 234px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs-8);
  box-sizing: border-box;
}
.order-now {
  position: relative;
  font-size: var(--font-size-sm-3);
  display: inline-block;
  font-family: var(--body-text-6-regular);
  color: var(--color-gray-100);
  text-align: left;
  min-width: 124px;
}
#button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs-9) var(--padding-2xs) var(--padding-xs-8);
  background-color: var(--primary-green);
  border-radius: 5.93px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.button1:hover,
.button:hover,
.buttons:hover {
  background-color: var(--color-forestgreen-100);
}
.navigation-container-parent,
.top-nav {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.navigation-container-parent {
  width: 710.5px;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap-13xl);
}
.top-nav {
  align-self: stretch;
  background-color: var(--color-darkslategray-100);
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-xl);
  box-sizing: border-box;
  gap: calc(var(--gap-134xl) + var(--gap-base));
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: center;
  font-size: var(--body-text-4-regular-size);
  color: var(--primary-white-ffffff);
  font-family: var(--body-text-4-regular);
}
.find-professional-installers {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-height: 210px;
  z-index: 1;
}
.all-states {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-width: 58px;
}
.icon-20-px-caretdown {
  height: 16px;
  width: 16px;
  position: relative;
}
.search-bar {
  border-radius: var(--br-9xs);
  background-color: var(--extras-green-001);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
  gap: var(--gap-5xs);
  white-space: nowrap;
}
.icon-24-px-magnifyingglass {
  height: 16px;
  width: 16px;
  position: relative;
}
.search-installers {
  flex: 1;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-width: 301px;
  border: none;
}
.search-container,
.search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.search-input {
  flex: 1;
  gap: var(--gap-5xs);
  min-width: 81px;
  color: var(--black-shade-003);
}
.search-container {
  width: 410.5px;
  padding: 0 171px 0 0;
  box-sizing: border-box;
  gap: var(--gap-base);
  max-width: 100%;
}
.label {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-size: var(--body-text-4-regular-size);
  font-weight: 500;
  font-family: var(--body-text-6-regular);
  color: var(--primary-white-ffffff);
  text-align: center;
}
.buttons,
.search-container-parent {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttons {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) 40px;
  background-color: var(--primary-green);
  width: 132px;
  border-radius: var(--br-9xs);
  justify-content: flex-start;
}
.search-container-parent {
  width: 590px;
  border-radius: var(--br-5xs);
  background-color: var(--primary-white-ffffff);
  border: 0.3px solid var(--primary-dark-blue-003366);
  justify-content: space-between;
  padding: var(--padding-10xs) var(--padding-9xs);
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
  text-align: center;
  font-size: var(--body-text-5-regular-size);
  color: var(--extras-green-004);
  font-family: var(--body-text-4-regular);
}
.find-professional-installers-f-parent,
.frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.find-professional-installers-f-parent {
  align-self: stretch;
  gap: 23px;
}
.frame-wrapper {
  flex: 1;
  padding: 0 0 59px;
  box-sizing: border-box;
  min-width: 423px;
  min-height: 335px;
}
.frame-child,
.image-7-icon {
  position: relative;
  max-width: 100%;
}
.frame-child {
  align-self: stretch;
  width: 558px;
  background-color: var(--color-gainsboro);
  display: none;
}
.image-7-icon {
  height: 510px;
  flex: 1;
  overflow: hidden;
  object-fit: contain;
  z-index: 2;
}
.frame-parent,
.rectangle-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent {
  width: 558px;
  background-color: var(--color-gainsboro);
  align-items: flex-start;
  padding: 0 75px;
  box-sizing: border-box;
  min-width: 558px;
  z-index: 1;
  margin-left: -4px;
}
.frame-parent {
  width: 1205px;
  align-items: flex-end;
  row-gap: 20px;
}
.featured-installers {
  margin: 0;
  width: 194px;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.see-more1 {
  flex: 1;
  position: relative;
  letter-spacing: -0.3px;
  line-height: 28px;
  display: inline-block;
  min-width: 66px;
}
.icon-24-px-caretright {
  height: 16px;
  width: 16px;
  position: relative;
}
.installers-header,
.see-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.see-more {
  width: 589px;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-487xl);
  box-sizing: border-box;
  gap: var(--gap-12xs);
  font-size: var(--body-text-4-regular-size);
  color: var(--primary-green);
  font-family: var(--body-text-4-regular);
}
.installers-header {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.image-27-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.enger-plc {
  position: relative;
  letter-spacing: -0.3px;
  font-weight: 500;
  display: inline-block;
  min-width: 73px;
}
.vuesaxlinearlocation-icon {
  height: 16px;
  width: 16px;
  position: relative;
}
.full-time {
  flex: 1;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-width: 38px;
}
.enger-plc-parent,
.job-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.job-tag {
  width: 66px;
  border-radius: var(--br-9xs);
  background-color: var(--color-lightgray-100);
  justify-content: flex-start;
  padding: var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  text-align: center;
  font-size: var(--body-text-5-regular-size);
  color: var(--primary-darkblue-005);
}
.enger-plc-parent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--body-text-4-regular-size);
}
.lorem-ipsum-dolor {
  align-self: stretch;
  position: relative;
  font-size: var(--body-text-5-regular-size);
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-height: 72px;
}
.days,
.response-time {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 20px;
}
.response-time {
  align-self: stretch;
}
.days {
  color: var(--black-005);
  display: inline-block;
  min-width: 45px;
}
.response-time-parent {
  width: 87px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.completed-projects,
.div {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 20px;
}
.completed-projects {
  align-self: stretch;
}
.div {
  color: var(--black-005);
  display: inline-block;
  min-width: 12px;
}
.completed-projects-parent {
  width: 111px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-xl);
  color: var(--black-003);
}
.star-icon,
.star-icon1,
.star-icon2,
.star-icon3,
.star-icon4 {
  height: 12px;
  width: 12px;
  position: relative;
  min-height: 12px;
}
.star-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs-5);
}
.div1,
.frame-container {
  display: flex;
  align-items: center;
}
.div1 {
  width: 19px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  justify-content: center;
  min-width: 19px;
}
.frame-container {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: center;
  color: var(--black-shade-003);
  font-family: var(--body-text-4-regular);
}
.order-now1 {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--body-text-6-regular);
  color: var(--primary-white-ffffff);
  text-align: left;
  min-width: 91px;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--primary-green);
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.order-now2 {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--body-text-6-regular);
  color: var(--black-004);
  text-align: left;
  min-width: 100px;
}
.button2,
.image-27-parent {
  display: flex;
  flex-direction: column;
}
.button2 {
  cursor: pointer;
  border: 1px solid var(--primary-green);
  padding: var(--padding-sm) var(--padding-58xl);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-5xs);
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button2:hover {
  background-color: var(--color-forestgreen-200);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.image-27-parent {
  height: 547px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-base);
  background-color: var(--primary-white-ffffff);
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.image-27-icon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.city-green-light {
  position: relative;
  letter-spacing: -0.3px;
  font-weight: 500;
  display: inline-block;
  min-width: 113px;
}
.vuesaxlinearlocation-icon1 {
  height: 16px;
  width: 16px;
  position: relative;
}
.full-time1 {
  flex: 1;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-width: 38px;
}
.city-green-light-parent,
.job-tag1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.job-tag1 {
  width: 66px;
  border-radius: var(--br-9xs);
  background-color: var(--color-lightgray-100);
  justify-content: flex-start;
  padding: var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  text-align: center;
  font-size: var(--body-text-5-regular-size);
  color: var(--primary-darkblue-005);
}
.city-green-light-parent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--body-text-4-regular-size);
}
.lorem-ipsum-dolor1 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-text-5-regular-size);
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-height: 72px;
}
.days1,
.response-time1 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 20px;
}
.response-time1 {
  align-self: stretch;
}
.days1 {
  color: var(--black-005);
  display: inline-block;
  min-width: 45px;
}
.response-time-group {
  width: 87px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.completed-projects1,
.div2 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 20px;
}
.completed-projects1 {
  align-self: stretch;
}
.div2 {
  color: var(--black-005);
  display: inline-block;
  min-width: 12px;
}
.completed-projects-group {
  width: 111px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-div {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-xl);
  color: var(--black-003);
}
.star-icon5,
.star-icon6,
.star-icon7,
.star-icon8,
.star-icon9 {
  height: 12px;
  width: 12px;
  position: relative;
  min-height: 12px;
}
.star-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs-5);
}
.div3,
.frame-parent1 {
  display: flex;
  align-items: center;
}
.div3 {
  width: 19px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  justify-content: center;
  min-width: 19px;
}
.frame-parent1 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: center;
  color: var(--black-shade-003);
  font-family: var(--body-text-4-regular);
}
.order-now3 {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--body-text-6-regular);
  color: var(--primary-white-ffffff);
  text-align: left;
  min-width: 91px;
}
.button3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--primary-green);
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button3:hover {
  background-color: var(--color-forestgreen-100);
}
.order-now4 {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--body-text-6-regular);
  color: var(--black-004);
  text-align: left;
  min-width: 100px;
}
.button4,
.image-27-group {
  display: flex;
  flex-direction: column;
}
.button4 {
  cursor: pointer;
  border: 1px solid var(--primary-green);
  padding: var(--padding-sm) var(--padding-58xl);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-5xs);
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button4:hover {
  background-color: var(--color-forestgreen-200);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.image-27-group {
  height: 547px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-base);
  background-color: var(--primary-white-ffffff);
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.image-27-icon2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.supremelight-solar {
  width: 134px;
  position: relative;
  letter-spacing: -0.3px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.vuesaxlinearlocation-icon2 {
  height: 16px;
  width: 16px;
  position: relative;
}
.full-time2 {
  flex: 1;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-width: 38px;
}
.job-tag2,
.supremelight-solar-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.job-tag2 {
  width: 66px;
  border-radius: var(--br-9xs);
  background-color: var(--color-lightgray-100);
  justify-content: flex-start;
  padding: var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  text-align: center;
  font-size: var(--body-text-5-regular-size);
  color: var(--primary-darkblue-005);
}
.supremelight-solar-parent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--body-text-4-regular-size);
}
.lorem-ipsum-dolor2 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-text-5-regular-size);
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-height: 72px;
}
.days2,
.response-time3 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 20px;
}
.response-time3 {
  align-self: stretch;
}
.days2 {
  color: var(--black-005);
  display: inline-block;
  min-width: 45px;
}
.response-time2 {
  width: 87px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.completed-projects2,
.projects-value {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 20px;
}
.completed-projects2 {
  align-self: stretch;
}
.projects-value {
  color: var(--black-005);
  display: inline-block;
  min-width: 12px;
}
.projects {
  width: 111px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.response-time-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-xl);
  color: var(--black-003);
}
.star-icon10,
.star-icon11,
.star-icon12,
.star-icon13,
.star-icon14 {
  height: 12px;
  width: 12px;
  position: relative;
  min-height: 12px;
}
.stars {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs-5);
}
.rating,
.rating-value {
  display: flex;
  align-items: center;
}
.rating-value {
  width: 19px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  justify-content: center;
  min-width: 19px;
}
.rating {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: center;
  color: var(--black-shade-003);
  font-family: var(--body-text-4-regular);
}
.order-now5 {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--body-text-6-regular);
  color: var(--primary-white-ffffff);
  text-align: left;
  min-width: 91px;
}
.button5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--primary-green);
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button5:hover {
  background-color: var(--color-forestgreen-100);
}
.order-now6 {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--body-text-6-regular);
  color: var(--black-004);
  text-align: left;
  min-width: 100px;
}
.button6,
.image-27-container {
  display: flex;
  flex-direction: column;
}
.button6 {
  cursor: pointer;
  border: 1px solid var(--primary-green);
  padding: var(--padding-sm) var(--padding-58xl);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-5xs);
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button6:hover {
  background-color: var(--color-forestgreen-200);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.image-27-container {
  height: 547px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-base);
  background-color: var(--primary-white-ffffff);
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.image-27-icon3 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.enger-plc1 {
  position: relative;
  letter-spacing: -0.3px;
  font-weight: 500;
  display: inline-block;
  min-width: 73px;
}
.vuesaxlinearlocation-icon3 {
  height: 16px;
  width: 16px;
  position: relative;
}
.full-time3 {
  flex: 1;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-width: 38px;
}
.installer-info,
.job-tag3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.job-tag3 {
  width: 66px;
  border-radius: var(--br-9xs);
  background-color: var(--color-lightgray-100);
  justify-content: flex-start;
  padding: var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  text-align: center;
  font-size: var(--body-text-5-regular-size);
  color: var(--primary-darkblue-005);
}
.installer-info {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--body-text-4-regular-size);
}
.lorem-ipsum-dolor3 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-text-5-regular-size);
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-height: 72px;
}
.days3,
.response-time5 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 20px;
}
.response-time5 {
  align-self: stretch;
}
.days3 {
  color: var(--black-005);
  display: inline-block;
  min-width: 45px;
}
.response-time4 {
  width: 87px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.completed-projects3,
.projects-value1 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 20px;
}
.completed-projects3 {
  align-self: stretch;
}
.projects-value1 {
  color: var(--black-005);
  display: inline-block;
  min-width: 12px;
}
.projects1 {
  width: 111px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.installer-metrics {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-xl);
  color: var(--black-003);
}
.star-icon15,
.star-icon16,
.star-icon17,
.star-icon18,
.star-icon19 {
  height: 12px;
  width: 12px;
  position: relative;
  min-height: 12px;
}
.stars1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs-5);
}
.rating-value1,
.rating1 {
  display: flex;
  align-items: center;
}
.rating-value1 {
  width: 19px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  justify-content: center;
  min-width: 19px;
}
.rating1 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: center;
  color: var(--black-shade-003);
  font-family: var(--body-text-4-regular);
}
.order-now7 {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--body-text-6-regular);
  color: var(--primary-white-ffffff);
  text-align: left;
  min-width: 91px;
}
.button7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--primary-green);
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button7:hover {
  background-color: var(--color-forestgreen-100);
}
.order-now8 {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--body-text-6-regular);
  color: var(--black-004);
  text-align: left;
  min-width: 100px;
}
.button8,
.installer {
  display: flex;
  flex-direction: column;
}
.button8 {
  cursor: pointer;
  border: 1px solid var(--primary-green);
  padding: var(--padding-sm) var(--padding-58xl);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-5xs);
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button8:hover {
  background-color: var(--color-forestgreen-200);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.installer {
  height: 547px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-base);
  background-color: var(--primary-white-ffffff);
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.installers-container,
.installers-list {
  align-self: stretch;
  justify-content: flex-start;
}
.installers-list {
  display: grid;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: var(--gap-10xl);
  grid-template-columns: repeat(4, minmax(216px, 1fr));
  text-align: left;
  font-size: var(--body-text-6-regular-size);
  color: var(--primary-darkblue-006);
}
.installers-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
  z-index: 1;
}
.installers-near-you {
  margin: 0;
  width: 193px;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.see-more2 {
  flex: 1;
  position: relative;
  letter-spacing: -0.3px;
  line-height: 28px;
  display: inline-block;
  min-width: 66px;
}
.icon-24-px-caretright1 {
  height: 16px;
  width: 16px;
  position: relative;
}
.installers-near-you-parent,
.see-more-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.see-more-parent {
  width: 589px;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-487xl);
  box-sizing: border-box;
  gap: var(--gap-12xs);
  font-size: var(--body-text-4-regular-size);
  color: var(--primary-green);
  font-family: var(--body-text-4-regular);
}
.installers-near-you-parent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.image-27-icon4 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.enger-plc2 {
  position: relative;
  letter-spacing: -0.3px;
  font-weight: 500;
  display: inline-block;
  min-width: 73px;
}
.vuesaxlinearlocation-icon4 {
  height: 16px;
  width: 16px;
  position: relative;
}
.full-time4 {
  flex: 1;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-width: 38px;
}
.enger-plc-group,
.job-tag4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.job-tag4 {
  width: 66px;
  border-radius: var(--br-9xs);
  background-color: var(--color-lightgray-100);
  justify-content: flex-start;
  padding: var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  text-align: center;
  font-size: var(--body-text-5-regular-size);
  color: var(--primary-darkblue-005);
}
.enger-plc-group {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--body-text-4-regular-size);
}
.lorem-ipsum-dolor4 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-text-5-regular-size);
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-height: 72px;
}
.days4,
.response-time6 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 20px;
}
.response-time6 {
  align-self: stretch;
}
.days4 {
  color: var(--black-005);
  display: inline-block;
  min-width: 45px;
}
.response-time-parent1 {
  width: 87px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.completed-projects4,
.div4 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 20px;
}
.completed-projects4 {
  align-self: stretch;
}
.div4 {
  color: var(--black-005);
  display: inline-block;
  min-width: 12px;
}
.completed-projects-container {
  width: 111px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-parent3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-xl);
  color: var(--black-003);
}
.star-icon20,
.star-icon21,
.star-icon22,
.star-icon23,
.star-icon24 {
  height: 12px;
  width: 12px;
  position: relative;
  min-height: 12px;
}
.star-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs-5);
}
.div5,
.frame-parent4 {
  display: flex;
  align-items: center;
}
.div5 {
  width: 19px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  justify-content: center;
  min-width: 19px;
}
.frame-parent4 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: center;
  color: var(--black-shade-003);
  font-family: var(--body-text-4-regular);
}
.order-now9 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 700;
  font-family: var(--body-text-6-regular);
  color: var(--primary-white-ffffff);
  text-align: left;
  display: inline-block;
  min-width: 91px;
}
.button9 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--primary-green);
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button9:hover {
  background-color: var(--color-forestgreen-100);
}
.order-now10 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 700;
  font-family: var(--body-text-6-regular);
  color: var(--black-004);
  text-align: left;
  display: inline-block;
  min-width: 100px;
}
.button10,
.image-27-parent1 {
  display: flex;
  flex-direction: column;
}
.button10 {
  cursor: pointer;
  border: 1px solid var(--primary-green);
  padding: var(--padding-sm) var(--padding-58xl);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-5xs);
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button10:hover {
  background-color: var(--color-forestgreen-200);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.image-27-parent1 {
  height: 547px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-base);
  background-color: var(--primary-white-ffffff);
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.image-27-icon5 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.city-green-light1 {
  position: relative;
  letter-spacing: -0.3px;
  font-weight: 500;
  display: inline-block;
  min-width: 113px;
}
.vuesaxlinearlocation-icon5 {
  height: 16px;
  width: 16px;
  position: relative;
}
.full-time5 {
  flex: 1;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-width: 38px;
}
.city-green-light-group,
.job-tag5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.job-tag5 {
  width: 66px;
  border-radius: var(--br-9xs);
  background-color: var(--color-lightgray-100);
  justify-content: flex-start;
  padding: var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  text-align: center;
  font-size: var(--body-text-5-regular-size);
  color: var(--primary-darkblue-005);
}
.city-green-light-group {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--body-text-4-regular-size);
}
.lorem-ipsum-dolor5 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-text-5-regular-size);
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-height: 72px;
}
.days5,
.response-time7 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 20px;
}
.response-time7 {
  align-self: stretch;
}
.days5 {
  color: var(--black-005);
  display: inline-block;
  min-width: 45px;
}
.response-time-parent2 {
  width: 87px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.completed-projects5,
.div6 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 20px;
}
.completed-projects5 {
  align-self: stretch;
}
.div6 {
  color: var(--black-005);
  display: inline-block;
  min-width: 12px;
}
.completed-projects-parent1 {
  width: 111px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-parent5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-xl);
  color: var(--black-003);
}
.star-icon25,
.star-icon26,
.star-icon27,
.star-icon28,
.star-icon29 {
  height: 12px;
  width: 12px;
  position: relative;
  min-height: 12px;
}
.star-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs-5);
}
.div7,
.frame-parent6 {
  display: flex;
  align-items: center;
}
.div7 {
  width: 19px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  justify-content: center;
  min-width: 19px;
}
.frame-parent6 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: center;
  color: var(--black-shade-003);
  font-family: var(--body-text-4-regular);
}
.order-now11 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 700;
  font-family: var(--body-text-6-regular);
  color: var(--primary-white-ffffff);
  text-align: left;
  display: inline-block;
  min-width: 91px;
}
.button11 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--primary-green);
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button11:hover {
  background-color: var(--color-forestgreen-100);
}
.order-now12 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 700;
  font-family: var(--body-text-6-regular);
  color: var(--black-004);
  text-align: left;
  display: inline-block;
  min-width: 100px;
}
.button12,
.image-27-parent2 {
  display: flex;
  flex-direction: column;
}
.button12 {
  cursor: pointer;
  border: 1px solid var(--primary-green);
  padding: var(--padding-sm) var(--padding-58xl);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-5xs);
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button12:hover {
  background-color: var(--color-forestgreen-200);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.image-27-parent2 {
  height: 547px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-base);
  background-color: var(--primary-white-ffffff);
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.image-27-icon6 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.supremelight-solar1 {
  width: 134px;
  position: relative;
  letter-spacing: -0.3px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.vuesaxlinearlocation-icon6 {
  height: 16px;
  width: 16px;
  position: relative;
}
.full-time6 {
  flex: 1;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-width: 38px;
}
.job-tag6,
.supremelight-solar-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.job-tag6 {
  width: 66px;
  border-radius: var(--br-9xs);
  background-color: var(--color-lightgray-100);
  justify-content: flex-start;
  padding: var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  text-align: center;
  font-size: var(--body-text-5-regular-size);
  color: var(--primary-darkblue-005);
}
.supremelight-solar-group {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--body-text-4-regular-size);
}
.lorem-ipsum-dolor6 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-text-5-regular-size);
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-height: 72px;
}
.days6,
.response-time8 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 20px;
}
.response-time8 {
  align-self: stretch;
}
.days6 {
  color: var(--black-005);
  display: inline-block;
  min-width: 45px;
}
.response-time-parent3 {
  width: 87px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.completed-projects6,
.div8 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 20px;
}
.completed-projects6 {
  align-self: stretch;
}
.div8 {
  color: var(--black-005);
  display: inline-block;
  min-width: 12px;
}
.completed-projects-parent2 {
  width: 111px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-parent7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-xl);
  color: var(--black-003);
}
.star-icon30,
.star-icon31,
.star-icon32,
.star-icon33,
.star-icon34 {
  height: 12px;
  width: 12px;
  position: relative;
  min-height: 12px;
}
.star-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs-5);
}
.div9,
.frame-parent8 {
  display: flex;
  align-items: center;
}
.div9 {
  width: 19px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  justify-content: center;
  min-width: 19px;
}
.frame-parent8 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: center;
  color: var(--black-shade-003);
  font-family: var(--body-text-4-regular);
}
.order-now13 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 700;
  font-family: var(--body-text-6-regular);
  color: var(--primary-white-ffffff);
  text-align: left;
  display: inline-block;
  min-width: 91px;
}
.button13 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--primary-green);
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button13:hover {
  background-color: var(--color-forestgreen-100);
}
.order-now14 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 700;
  font-family: var(--body-text-6-regular);
  color: var(--black-004);
  text-align: left;
  display: inline-block;
  min-width: 100px;
}
.button14,
.image-27-parent3 {
  display: flex;
  flex-direction: column;
}
.button14 {
  cursor: pointer;
  border: 1px solid var(--primary-green);
  padding: var(--padding-sm) var(--padding-58xl);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-5xs);
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button14:hover {
  background-color: var(--color-forestgreen-200);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.image-27-parent3 {
  height: 547px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-base);
  background-color: var(--primary-white-ffffff);
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.image-27-icon7 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.enger-plc3 {
  position: relative;
  letter-spacing: -0.3px;
  font-weight: 500;
  display: inline-block;
  min-width: 73px;
}
.vuesaxlinearlocation-icon7 {
  height: 16px;
  width: 16px;
  position: relative;
}
.full-time7 {
  flex: 1;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-width: 38px;
}
.enger-plc-container,
.job-tag7 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.job-tag7 {
  width: 66px;
  border-radius: var(--br-9xs);
  background-color: var(--color-lightgray-100);
  justify-content: flex-start;
  padding: var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  text-align: center;
  font-size: var(--body-text-5-regular-size);
  color: var(--primary-darkblue-005);
}
.enger-plc-container {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--body-text-4-regular-size);
}
.lorem-ipsum-dolor7 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-text-5-regular-size);
  letter-spacing: -0.2px;
  line-height: 24px;
  display: inline-block;
  min-height: 72px;
}
.days7,
.response-time9 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 20px;
}
.response-time9 {
  align-self: stretch;
}
.days7 {
  color: var(--black-005);
  display: inline-block;
  min-width: 45px;
}
.response-time-parent4 {
  width: 87px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.completed-projects7,
.div10 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 20px;
}
.completed-projects7 {
  align-self: stretch;
}
.div10 {
  color: var(--black-005);
  display: inline-block;
  min-width: 12px;
}
.completed-projects-parent3 {
  width: 111px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-parent9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-xl);
  color: var(--black-003);
}
.star-icon35,
.star-icon36,
.star-icon37,
.star-icon38,
.star-icon39 {
  height: 12px;
  width: 12px;
  position: relative;
  min-height: 12px;
}
.star-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs-5);
}
.div11,
.frame-parent10 {
  display: flex;
  align-items: center;
}
.div11 {
  width: 19px;
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  justify-content: center;
  min-width: 19px;
}
.frame-parent10 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: center;
  color: var(--black-shade-003);
  font-family: var(--body-text-4-regular);
}
.order-now15 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 700;
  font-family: var(--body-text-6-regular);
  color: var(--primary-white-ffffff);
  text-align: left;
  display: inline-block;
  min-width: 91px;
}
.button15 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--primary-green);
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button15:hover {
  background-color: var(--color-forestgreen-100);
}
.order-now16 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 700;
  font-family: var(--body-text-6-regular);
  color: var(--black-004);
  text-align: left;
  display: inline-block;
  min-width: 100px;
}
.button16,
.image-27-parent4 {
  display: flex;
  flex-direction: column;
}
.button16 {
  cursor: pointer;
  border: 1px solid var(--primary-green);
  padding: var(--padding-sm) var(--padding-58xl);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-5xs);
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button16:hover {
  background-color: var(--color-forestgreen-200);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.image-27-parent4 {
  height: 547px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-base);
  background-color: var(--primary-white-ffffff);
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.frame-parent2 {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  gap: var(--gap-10xl);
  grid-template-columns: repeat(4, minmax(216px, 1fr));
  text-align: left;
  font-size: var(--body-text-6-regular-size);
  color: var(--primary-darkblue-006);
}
.installers-container1 {
  align-self: stretch;
  gap: var(--gap-5xl);
  z-index: 1;
}
.content-container,
.installers-container-parent,
.installers-container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.installers-container-parent {
  align-self: stretch;
  gap: 40px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--shade-black);
}
.content-container {
  width: 1240px;
  gap: 67px;
  text-align: left;
  font-size: var(--type58-size);
  color: var(--black-005);
  font-family: var(--body-text-6-regular);
}
.content-container-wrapper,
.installers {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.content-container-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.installers {
  width: 100%;
  position: relative;
  background-color: var(--primary-white-ffffff);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 46px;
  gap: 0.3px;
  line-height: normal;
  letter-spacing: normal;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  /* height: 60px; */
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: var(--primary-green);
  color: #000;
  /* position: relative; */
  padding: 16px 1.2rem;
  height: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover {
  scale: 1.05;
  /* color: #fff; */
}

.action_btn:active {
  scale: 0.95;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 100px;
  height: 0;
  width: 300px;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 340px;
  opacity: 0px;
  background: #ffffff;
  z-index: 2;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2b2b2b;
}

.menu_navitem {
  background: #DEEDCC80;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
}

.menu_navitem:hover {
  background: #92c455;
}

.dropdown_menu .action_btn {
  position: relative;
  width: 76%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  left: 20px;
  top: 20px;
}

@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }

  a{
    color: #2b2b2b;
  }
}

@media (max-width: 567px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

@media screen and (max-width: 1200px) {
  .top-nav {
    gap: var(--gap-134xl);
  }
}
@media screen and (max-width: 1050px) {
  .find-professional-installers {
    font-size: 46px;
    line-height: 56px;
  }
  .image-7-icon {
    flex: 1;
  }
  .rectangle-parent {
    flex: 1;
    margin-left: 0;
  }
  .frame-parent,
  .installers-header {
    flex-wrap: wrap;
  }
  .installers-list {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(216px, 375px));
  }
  .installers-near-you-parent {
    flex-wrap: wrap;
  }
  .frame-parent2 {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(216px, 375px));
  }
}
@media screen and (max-width: 750px) {
  .top-nav {
    gap: var(--gap-58xl);
  }
  .search-container-parent {
    flex-wrap: wrap;
  }
  .frame-wrapper {
    min-width: 100%;
  }
  .rectangle-parent {
    padding-left: var(--padding-18xl);
    padding-right: var(--padding-18xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .see-more,
  .see-more-parent {
    padding-left: var(--padding-234xl);
    box-sizing: border-box;
  }
  .installers-container-parent {
    gap: var(--gap-xl);
  }
  .content-container {
    gap: 33px;
  }
}
@media screen and (max-width: 450px) {
  .navigation-container-parent {
    gap: var(--gap-base);
  }
  .layer-1-icon {
    margin-left: 150px;
  }
  .top-nav {
    gap: var(--gap-134xl);
  }
  .find-professional-installers {
    font-size: 35px;
    line-height: 42px;
  }
  .search-container {
    flex-wrap: wrap;
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .featured-installers {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .button2,
  .button4,
  .button6,
  .button8,
  .see-more {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .button2,
  .button4,
  .button6,
  .button8 {
    padding-right: var(--padding-xl);
  }
  .installers-list {
    grid-template-columns: minmax(216px, 1fr);
  }
  .installers-near-you {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .button10,
  .button12,
  .button14,
  .button16,
  .see-more-parent {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .button10,
  .button12,
  .button14,
  .button16 {
    padding-right: var(--padding-xl);
  }
  .frame-parent2 {
    grid-template-columns: minmax(216px, 1fr);
  }
  .content-container {
    gap: var(--gap-mid);
  }
  .search-installers{min-width: unset; outline: none;}
}

@media screen and (max-width: 320px) {
  .layer-1-icon {
    margin-left: 200px;
  }

  .top-nav {
    gap: var(--gap-58xl);
  }
  .search-installers{min-width: 112px;}
}
